// Variables

$text-color: #acb8c8;
$background-color: #0d1117;
$box-color: #161b22;
$box-color-accent: #3a3b3c;
$delete-color: red;
$update-color: #398a39;
$like-color: #ff00c8;
$profil-border-color: #fff;